Binaries
DerivedDataCache
Intermediate
Saved
Build
__ExternalActors__
__ExternalObjects__
Characters
Collections
Developers
Input
InventoryAssets
LevelPrototyping
ThirdPerson
Variant_Combat
Variant_Platforming
Variant_SideScrolling

.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace




