Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
Plugins/Developer/*

.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace